body {
  font-family: "Roboto", "Raleway", "Tahoma", san-serif;
  background-color: #ffffff;
  color: #212121;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.about {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.portfolio, .clients, .team, .features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio, .clients, .team, .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title, .team__title, .about__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.2857142857;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .clients__title, .team__title, .about__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.info-container__position, .info-container__name {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.media__item, .icons__item {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}

.link {
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.button {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  font-family: inherit;
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: #afb1b8;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.accent {
  position: relative;
}
.accent:visited {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .accent::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.icon-link:hover, .icon-link:focus {
  background-color: #2196f3;
}
.icon-link:hover .icons__svg, .icon-link:focus .icons__svg {
  fill: #ffffff;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 92px;
  }
}
.header__logo--color {
  color: #000000;
}
@media screen and (max-width: 767px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 51px;
}
@media screen and (max-width: 767px) {
  .header-tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }
}

.header-tabs__link {
  font-size: 14px;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .header-tabs__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.119047619;
    letter-spacing: 0.02em;
    font-family: inherit;
    color: inherit;
  }
}
.header-tabs__link:hover, .header-tabs__link:focus {
  color: #2196f3;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 480px) {
  .contact__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .contact__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 90px;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__list {
    margin-left: 315px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .contact__item {
    padding-bottom: 32px;
  }
}

.contact__link {
  color: #757575;
}
@media screen and (min-width: 480px) {
  .contact__link {
    font-size: 34px;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) {
  .contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact__link--accent {
    color: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .contact__link--size {
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
}

.contact__svg {
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .contact__svg {
    display: none;
  }
}

.start {
  text-align: center;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/start/img_480.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/start/img_480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
}
@media screen and (min-width: 480px) {
  .start {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/start/img_480.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/start/img_480.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .start {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/start/img_480@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/start/img_480@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .start {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/start/img_768.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/start/img_768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .start {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/start/img_768@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/start/img_768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .start {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/start/img_1600.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/start/img_1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .start {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/start/img_1600@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/start/img_1600@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .start {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
}

.start--retreat {
  margin-left: auto;
  margin-right: auto;
}

.start__title {
  max-width: 360px;
  margin: 0 auto 30px;
  font-size: 26px;
  line-height: 1.6153846154;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .start__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

@media screen and (min-width: 768px) {
  .features__card {
    display: grid;
    grid: repeat(2, 224px)/repeat(2, 354px);
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-card__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.features-card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-card__container--retreat {
  margin-bottom: 30px;
}

.features-card__title {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-card__title--retreat {
  margin-bottom: 10px;
}

.feartures-card__description {
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.about-card__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}
.about-card__wrapper {
  position: relative;
}
.about-card__text {
  position: absolute;
  height: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team__card {
    display: grid;
    grid: repeat(2, 536px)/repeat(2, 354px);
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card__iteam {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    background-color: #ffffff;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0px 0px 4px 4px;
  }
}

.info-container {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .info-container {
    padding-bottom: 30px;
  }
}

.info-container__name {
  font-weight: 500;
}

.info-container__name--retreat {
  margin-bottom: 10px;
}

.info-container__position {
  color: #757575;
}

.info-container__position--retreat {
  margin-bottom: 16px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons__item--retreat {
  margin-right: 10px;
}

.clients__list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: grid;
  grid: repeat(3, 92px)/repeat(2, 210px);
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .clients__list {
    display: grid;
    grid: repeat(2, 92px)/repeat(3, 226px);
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients-list__items {
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .clients-list__items {
    width: 170px;
    height: 92px;
  }
}

.clients-list__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.clients-list__nav:hover, .clients-list__nav:focus {
  border: 1px solid #2196f3;
}
.clients-list__nav:hover .clients-list__svg, .clients-list__nav:focus .clients-list__svg {
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    margin-right: 70px;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.footer__logo--color {
  color: #ffffff;
}
.footer__address {
  font-style: normal;
  text-align: center;
}
.footer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .footer__media {
    margin-bottom: 60px;
  }
}
.footer__signup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__medium {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__contact {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    margin-bottom: 0;
  }
}

.address__items:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  display: inline-block;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__link--color {
  color: #ffffff;
}

.footer__media-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.footer__media-text--retreat {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__media-text--retreat {
    margin-top: 5px;
  }
}

.media__item {
  background-color: rgba(255, 255, 255, 0.1);
}

.media__item:not(:last-child) {
  margin-right: 10px;
}

.media__icons {
  fill: #ffffff;
}

.footer-form__send {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-form__send {
    text-align: start;
  }
}

.footer-form__send--retreat {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.send__label {
  margin-right: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .send__label {
    margin-right: 0;
  }
}

.send__input {
  margin-bottom: 20px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.3)), to(rgba(47, 48, 58, 0.3)));
  background: linear-gradient(rgba(47, 48, 58, 0.3), rgba(47, 48, 58, 0.3));
}
@media screen and (min-width: 1200px) {
  .send__input {
    margin-bottom: 0;
  }
}
.send__input:focus {
  outline: rgba(255, 255, 255, 0.3);
  background-color: #2196f3;
}
.send__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.send__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.send__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.send__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.send__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .send__button {
    margin-top: 20px;
  }
}

.send__button::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/marker.png);
}

.modal__backdrop.is__hidden .modal {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 500ms, visibility 500ms;
  transition: opacity 500ms, visibility 500ms;
}

.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
  background-color: #ffffff;
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}

.close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  top: 8px;
  right: 8px;
}
.close:hover, .close:focus {
  color: #2196f3;
}

.close__icon {
  stroke: rgba(0, 0, 0, 0.1);
  fill: #000000;
}
.close__icon:focus, .close__icon:hover {
  fill: #2196f3;
}

.is__hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.form {
  padding: 40px;
}
.form__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.form__text__text--retreat {
  margin-bottom: 12px;
}
.form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__label--retreat {
  margin-bottom: 10px;
}
.form__name {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
}
.form__label--end {
  margin-bottom: 20px;
}

.form__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.form__input:focus {
  border: 1px solid #2196f3;
  outline: #2196f3;
}
.form__input:focus + svg {
  fill: #2196f3;
}

.form__comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__comment:focus {
  border: 1px solid #2196f3;
  outline: 0;
}
.form__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 48px;
}
@media screen and (max-width: 1199px) {
  .form__check {
    padding-left: 0;
  }
}

.form__check--retreat {
  margin-bottom: 30px;
}

.form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__checkbox:checked + .form__marker {
  background-color: #2196f3;
  background-image: url(../images/accept.png);
  border: 0;
}

.form__marker {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.form__marker--retreat {
  margin-right: 8px;
}

.form__agree {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (max-width: 1199px) {
  .form__agree {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}

.form__link {
  color: #2196f3;
}

.form__button {
  padding: 10px 52px;
}

.header__mobile-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__mobile-btn {
    display: none;
  }
}

.header__mobile-svg {
  fill: #000000;
}
.header__mobile-btn:hover .header__mobile-svg, .header__mobile-btn:focus .header__mobile-svg {
  fill: #2196f3;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    min-width: 320px;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
}
.header__menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.header__menu .link:hover,
.header__menu .link:focus {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .header__menu-toggle {
    display: none;
  }
}
.header__btn-close {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 15px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media screen and (min-width: 768px) {
  .header__btn-close {
    display: none;
  }
}
.header__btn-close:hover .header__mobile-svg {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header__menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 999;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  }
}

.header__menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 48px 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header__cont-container {
  margin-top: 302px;
}
@media screen and (min-width: 768px) {
  .header__cont-container {
    margin-top: 0;
  }
}

.header__social-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .header__social-mobile {
    display: none;
  }
}

.header__social-item {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header__social-item--line::after {
  content: "";
  display: inline-block;
  width: 22px;
  background: rgba(33, 33, 33, 0.2);
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 10px;
  right: -21px;
}

.header-tabs {
  margin-bottom: auto;
}

.portfolio__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  min-width: 326px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio__search {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__search {
    margin: 0 auto 50px;
  }
}

.search__btn {
  padding: 6px 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 500;
  line-height: 1.625;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #000000;
}
.search__btn:hover, .search__btn:focus {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.drafts {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.drafts__wrapper {
  position: relative;
  overflow: hidden;
}
.drafts .drafts__items {
  background-color: #ffffff;
  -ms-flex-preferred-size: calc(33.3333333333% - 20px);
      flex-basis: calc(33.3333333333% - 20px);
}
.drafts__text {
  padding: 20px 0 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.drafts__title {
  font-size: 18px;
  line-height: 1.2857142857;
  letter-spacing: 0.06em;
}
.drafts__after {
  font-size: 16px;
  line-height: 2.1428571429;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .drafts {
    display: grid;
    grid: repeat(5, 404px)/repeat(2, 354px);
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .drafts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .drafts__items {
    background-color: #ffffff;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0px 0px 4px 4px;
  }
}

.drafts__link {
  display: block;
  color: inherit;
  font-family: inherit;
}
.drafts__link:hover, .drafts__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.drafts__popup {
  position: absolute;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}
.drafts__items:hover .drafts__popup, .drafts__items:focus .drafts__popup {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */