.about {
  @extend %section-about;

  &__title {
    @extend %title;
  }
  &__card {
    display: flex;
    gap: 30px;
  }
}
.about-card {
  &__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  &__wrapper {
    position: relative;
  }
  &__text {
    position: absolute;

    height: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include fonts(14px, 16px, 0.03em, $third);

    text-transform: uppercase;

    background-color: rgba($grey, 0.8);
  }
}
