.clients {
  @extend %section;

  &__title {
    @extend %title;
  }
  &__list {
    box-sizing: border-box;
    display: grid;
    grid: repeat(3, 92px) / repeat(2, 210px);
    gap: 30px;

    @media screen and (min-width: 768px) {
      display: grid;
      grid: repeat(2, 92px) / repeat(3, 226px);
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
    }
  }
}

.clients-list__items {
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
  }
}

.clients-list__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $icon;
  border-radius: 4px;
  width: 100%;
  height: 100%;

  &:hover,
  &:focus {
    border: 1px solid $accent;
  }
  &:hover .clients-list__svg,
  &:focus .clients-list__svg {
    fill: $accent;
  }
}
