.features {
  @extend %section;
}

.features__card {
  @media screen and (min-width: 768px) {
    display: grid;
    grid: repeat(2, 224px) / repeat(2, 354px);
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.features-card__item {
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.features-card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: $background;
  border-radius: 4px;
}
.features-card__container--retreat {
  margin-bottom: 30px;
}

.features-card__title {
  // @include fonts(false, false, 16, 0.03em, false);

  text-transform: uppercase;
}
.features-card__title--retreat {
  margin-bottom: 10px;
}

.feartures-card__description {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: $second;
  margin-bottom: 30px;
}
