.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer;

  &__container {
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
    }
  }
  &__contact {
    @media screen and (min-width: 768px) {
      margin-right: 165px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }
  }
  &__logo {
    display: block;
    margin-bottom: 20px;
  }
  &__logo--color {
    color: $third;
  }
  &__address {
    font-style: normal;
  }
  &__media {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
  }
  &__signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
}
.footer__medium {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 60px;
    margin-left: 76px;
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.footer__contact {
  margin-bottom: 60px;
}

.address__items:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  display: inline-block;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba($third, 0.6);

  &:hover,
  &:focus {
    color: $accent;
  }
}
.address__link--color {
  color: $third;
}

.footer__media-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $third;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer__media-text--retreat {
  margin-bottom: 20px;
}

.media__item {
  @extend %icon-social;
  background-color: rgba($third, 0.1);
}
.media__item:not(:last-child) {
  margin-right: 10px;
}

.media__icons {
  fill: $third;
}
.footer-form__send {
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $third;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.footer-form__send--retreat {
  margin-bottom: 20px;
}
.footer-form__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.send__label {
  margin-right: 12px;
}
.send__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: $third;
  border: 1px solid rgba($third, 0.3);
  filter: drop-shadow(0px 4px 4px rgba($black, 0.15));
  border-radius: 4px;
  background: linear-gradient(rgba($grey, 0.3), rgba($grey, 0.3));

  &:focus {
    outline: rgba($third, 0.3);
    background-color: $accent;
  }
  &::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba($third, 0.6);
  }
}
.send__button {
  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }
}
.send__button::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/marker.png);
  background: $third;
}
