.header {
  border-bottom: 1px solid $border-btn;

  &__logo {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
      padding-top: 26px;
      padding-bottom: 26px;
      margin-right: 87px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 92px;
    }
  }
  &__logo--color {
    color: $black;
  }
  &__container {
    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;
    }
  }
}

.header-tabs {
  display: flex;
  gap: 51px;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 32px;
  }
}

.header-tabs__link {
  @media screen and (max-width: 767px) {
    @include fonts(40, 47, 0.02em, inherit, 500);
  }
  @include fonts(14, 16, 0.02em, inherit);

  padding-top: 32px;
  padding-bottom: 32px;

  &:hover,
  &:focus {
    color: $accent;
  }
}
.contact__list {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 480px) {
    flex-direction: column-reverse;
    margin-left: 0;
  }
  @media screen and (min-width: 768px) {
    flex-direction: column;
    margin-left: 90px;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 315px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}
.contact__item {
  @media screen and (max-width: 767px) {
    padding-bottom: 32px;
  }
}

.contact__link {
  @media screen and (min-width: 480px) {
    @include fonts(34, 40, 0.02em, $second, 500);
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    @include fonts(12, 14, 0.02em, $second, 500);
  }

  &:hover,
  &:focus {
    color: $accent;
  }
}
.contact__link--accent {
  @media screen and (max-width: 767px) {
    color: $accent;
  }
}
.contact__link--size {
  @media screen and (max-width: 767px) {
    @include fonts(24, 28, 0.02em, $second);
  }
}

.contact__svg {
  fill: currentColor;
  margin-right: 10px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
