.header {
  border-bottom: 1px solid $border-btn;

  &__logo {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 1200px) {
      padding-top: 26px;
      padding-bottom: 26px;
    }
  }
  &__logo--color {
    color: $black;
  }
  &__container {
    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;
    }
  }
}

.header-tabs {
  display: flex;
  flex-direction: column;
}
.header-tabs__item {
  padding-bottom: 32px;
}
.header-tabs__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 42);
  letter-spacing: 0.02em;
  // padding-top: 32px;
  // padding-bottom: 32px;
  // line-height: calc(16 / 14);
  // letter-spacing: 0.02em;
  font-family: inherit;
  color: inherit;

  &:hover,
  &:focus {
    color: $accent;
  }
}
.contact__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
.contact__item {
  @media screen and (max-width: 767px) {
    padding-bottom: 32px;
  }
}

.contact__link {
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;

  // display: flex;
  // align-items: center;
  font-weight: 500;
  // line-height: calc(16 / 14);
  // letter-spacing: 0.02em;
  color: $second;

  &:hover,
  &:focus {
    color: $accent;
  }
}

.contact__svg {
  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
