.header {
  border-bottom: 1px solid $border-btn;

  &__logo {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
      padding-top: 26px;
      padding-bottom: 26px;
      margin-right: 87px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 92px;
    }
  }
  &__logo--color {
    color: $black;
  }
  &__container {
    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;
    }
  }
}

.header-tabs {
  display: flex;
  gap: 51px;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 32px;
  }
}

.header-tabs__link {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 42);
    letter-spacing: 0.02em;
    font-family: inherit;
    color: inherit;
  }
  font-size: 14px;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent;
  }
}
.contact__list {
  display: flex;
  @media screen and (min-width: 480px) {
    flex-direction: column-reverse;
    margin-left: 0;
  }
  @media screen and (min-width: 768px) {
    flex-direction: column;
    margin-left: 90px;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 315px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}
.contact__item {
  @media screen and (max-width: 767px) {
    padding-bottom: 32px;
  }
}

.contact__link {
  color: $second;

  @media screen and (min-width: 480px) {
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
  }

  &:hover,
  &:focus {
    color: $accent;
  }
}
.contact__link--accent {
  @media screen and (max-width: 767px) {
    color: $accent;
  }
}
.contact__link--size {
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
  }
}

.contact__svg {
  fill: currentColor;
  margin-right: 10px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
