.team {
  @extend %section;

  background-color: $background;
}
.team__title {
  @extend %title;
}

.team__card {
  gap: 30px;
  @media screen and (min-width: 768px) {
    display: grid;
    grid: repeat(2, 536px) / repeat(2, 354px);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.team-card__iteam {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
  background-color: $third;
  filter: drop-shadow(0px 4px 4px rgba($black, 0.25));
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
    background-color: $third;
  }
}
.info-container {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}
.info-container__name {
  @extend %team-text;
  font-weight: 500;
}

.info-container__name--retreat {
  margin-bottom: 10px;
}
.info-container__position {
  @extend %team-text;
  color: $second;
}

.info-container__position--retreat {
  margin-bottom: 16px;
}
.icons {
  display: flex;
  justify-content: center;
}

.icons__item {
  @extend %icon-social;
}
.icons__item--retreat {
  margin-right: 10px;
}
